html, body{
    background-color:rgb(193, 232, 125);
}
form label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


input[type=radio]:checked + label{
    border-width:2px;
    border-style:dotted;
    
}
